@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1280px;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    width: 157px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}