@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
}


.container{
    max-width: 1280px !important;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    width: 157px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft_one{
    position: relative;
    left: 128px;
    top: -125px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc(50% - 15px);
    background-image: url(./assets/images/Sea.png);
    max-width: 1073px;
    height: 385px;
    padding: 101px 124px;
}


.sss{
    background-size:contain;
    background-position: center calc(50% - 15px);
    background-repeat: no-repeat;
    background-image: url(./assets/images/Vector.png);
}

.ssa{
    border-bottom: 1px solid red;

}